# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Module2\Bthi_c0820k1_Ng.K.Duy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
